*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: #1F202C;
    position: relative;
}
nav{
    display: flex;
    padding: 0.1% 6%;
    justify-content: space-between;
    align-items:center;
    position: relative;
}
nav img{
    width: 90px;
    height: 135px;
}
nav a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    align-items:center;
}
nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #7E9989;
    ;
    display: block;
    margin: auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    padding-left: 6%;
}
.text-box h1{
    font-size: 64px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 32px;
}
.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px #7E9989;
    border-style: solid;
    padding:12px 34px ;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.text-box a:hover{
    border: 1px solid #7E9989;
    background: #7E9989;
    transition: 1s;
}

/*
*/

.contact{
    min-height: 100vh;
    width: 100%;
    background-color: #1F202C;
    position: relative;
    color: #fff;
    padding-left: 6%;
}

@media(max-width: 700px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        height: 100vh;
        width: 200px;
        background: #7E9989;
        ;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav a h1{
        display: none;
    }
}